@import 'modifiers';

.badge {
  padding: 0.357em 0.714em;

  background-color: $black-color;
  border-radius: 0.214em;

  color: $white-color;
  font-size: 0.875rem;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;

  &--default {@include badge-default;}
  &--rate {@include badge-rate;}
}
