.title {
  font-size: 3.625rem;
  font-weight: 700;
  line-height: 80px;
  color: $white-color;
}

.subtitle {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: $main-color;
}

.text {
  font-size: 1.25rem;
  line-height: 30px;
  color: $white-color;
}

.column__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: $backgorund-color;
}