.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  height: 100px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile-screen {
    .header-nav__list {
      display: none;
    }

    &__group {
      width: 100%;
      justify-content: space-between;

      button.header__burger {
        display: block;
      }
    }
  }

  &__group {
    display: flex;
    align-items: center;

    .header__burger {
      display: none;
      padding: 0.35em 0.714em;
      font-size: 2em;
    }
  }

  width: 100%;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &--primary {
      .header-nav__item {
        &:not(:last-child) {
          margin-right: 1.2rem;
        }
      }
    }

    &--secondary {
      .header-nav__item {
        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }
  }

  &__link {
    color: $white-color;
    font-weight: 700;

    &--brand-name {
      margin-right: 4rem;
      font-size: 1.5rem;
      line-height: 32px;
      letter-spacing: 0.1px;
  }
  }
}

.header {
  &__btn {
    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
