// Global styles
html {
  font-size: 14px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $white-color;
  background-color: $backgorund-color;
}

.container {
  max-width: 966px;
  margin: 0 auto;
  padding: 0 1rem;
}
